




input {
  line-height: 17px;
  border-radius: 3px;
}

.recipeForm{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.addRecipe{
 
  display: flex;
  justify-content: center;
}

.recipeForm input{
  margin: 2%;
}

.recipeForm button{
  margin: 2%;
  
}